:root {
    --main-bg-color: #1a1a1a;

    --main-color: #e1e1e1;
    --sec-color: #42b883;
    --sec-color-lighter: #4cf0a6;
}

/** Classes globais */
.main-color {
    color: var(--main-color);
}

.sec-color {
    color: var(--sec-color);
}

.italic {
    font-style: italic;
}

.sticky-table-header {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
}

.sticky-table-header th {
    padding-bottom: 0.5em;
}

/** Elementos */
body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

a {
    outline: none;
    text-decoration: none;
}

a:link, a:visited {
    color: var(--sec-color);
}

a:hover {
    color: var(--sec-color-lighter);
}

td, th {
    color: var(--main-color);
}